/* Colors */
/* Settings */
/* ----------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1f1f1f;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.4s ease;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  color: #fff;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

p {
  color: #fff;
}

img {
  max-width: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.btn {
  background: #E96B23;
  border-radius: 0.6rem;
  transition: all 0.4s ease;
}
.btn:hover {
  background: #C24E0B;
}

/* Landing style */
/* ----------------------------------------------------------------------- */
/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 2.2rem 0 1.2rem;
}
.nav .nav_bar {
  background-color: rgba(214, 214, 214, 0.05);
  padding: 2.2rem 3.2rem;
  border-radius: 0.6rem;
}
.nav .nav_bar .nav_links {
  display: flex;
  justify-content: space-between;
  width: 21.2rem;
}
.nav .nav_bar .nav_links .links:hover {
  color: #E96B23;
}

.active {
  color: #E96B23;
}

/* ----------------------------------------------------------------------- */
/* Offer */
.offer {
  height: 620px;
  background: url(/img/offer-img.png) center;
  border-radius: 10px;
  position: relative;
}

.action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.action .offer_text .title {
  font-size: 5rem;
}
.action .offer_text .text {
  font-size: 2.5rem;
  margin: 1.2rem 0 4rem;
}
.action .offer_btn {
  padding: 1.3rem 0 1.3rem;
  width: 40%;
}

/* ----------------------------------------------------------------------- */
/* Lessons */
.lessons {
  margin-bottom: 12.5rem;
}
.lessons .container {
  width: 70%;
}
.lessons .lessons_title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 9.4rem;
}

.price_wrap {
  display: flex;
  justify-content: space-between;
}

.border {
  border: solid rgba(214, 214, 214, 0.3) 0.7rem;
  border-radius: 3rem;
}

li {
  color: #fff;
  line-height: 2rem;
}

.info_wrap {
  padding: 2.2rem 0;
  width: 20rem;
  display: flex;
  flex-direction: column;
}
.info_wrap .price_title {
  text-align: center;
  margin-bottom: 2.5rem;
}
.info_wrap h2 {
  text-align: center;
}
.info_wrap p {
  text-align: center;
}
.info_wrap ul {
  margin: 2.5rem auto 2.5rem;
}

.price {
  margin-bottom: 2.5rem;
}

.lessons_btn {
  text-align: center;
  padding: 1.2rem 0 1.2rem;
  width: 45%;
  margin: 0 auto;
  font-size: 0.8rem;
}

/* ----------------------------------------------------------------------- */
/* Booking */
.booking {
  background: rgba(214, 214, 214, 0.05);
  border-radius: 0.6rem;
}

.booking_wrap {
  padding: 3rem 7.5rem 1.5rem;
}

.booking_title {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 42px;
  grid-template-areas: "name number" "email age" "btn btn";
  color: #fff;
}
form .form_name {
  grid-area: name;
}
form .form_number {
  grid-area: number;
}
form .form_email {
  grid-area: email;
}
form .form_age {
  grid-area: age;
}
form .form_btn {
  grid-area: btn;
}

input {
  background: rgba(214, 214, 214, 0.3);
  border: none;
  padding: 1.5rem 0.5rem;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.6rem;
}

.form_btn {
  width: 50%;
  margin: 0 auto;
  height: 70%;
  color: #fff;
  background: #E96B23;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
}
.form_btn:hover {
  background: #C24E0B;
}

/* ----------------------------------------------------------------------- */
/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6rem 0;
}
.footer a:hover {
  color: #C24E0B;
}

.contacts_wrap {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.adress {
  line-height: 24px;
}/*# sourceMappingURL=style.css.map */