@import 'config';

/* Settings */
/* ----------------------------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    background-color: $black;
}

a{
    text-decoration: none;
    color: $white;
    transition: all .4s ease;
}
ul{
    list-style: none;
}

h1,h2,h3{
    color: $white;
}
h1{
    font-weight: 600;
}
h2{
    font-weight: 400;
}
p{
    color: $white;
}
img{
    max-width: 100%;
}

.container{
    width: 85%;
    margin: 0 auto;
}

.btn{
    background: $orange;
    border-radius: .6rem;
    transition: all .4s ease;
        &:hover{
            background: $orange-hover;
        }
}
/* Landing style */
/* ----------------------------------------------------------------------- */
/* Navigation */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2.2rem 0 1.2rem;
    .nav_bar{
        background-color: rgba(214, 214, 214, 0.05);
        padding: 2.2rem 3.2rem;
        border-radius: .6rem;
        .nav_links{
            display: flex;  
            justify-content: space-between;
            width: 21.2rem;
            .links{
                
                &:hover{
                    color: $orange;
                }
               

            }
    
        }    
    }
}
.active{
    color: $orange;
}

/* ----------------------------------------------------------------------- */
/* Offer */
.offer{
    height: 620px;
    background: url(/img/offer-img.png) center;
    border-radius: 10px;
    position: relative;
}
.action{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    .offer_text{
        .title{
            font-size: 5rem;
        }
        .text{
            font-size: 2.5rem;
            margin: 1.2rem 0 4rem;
        }
    }
    .offer_btn{
        padding: 1.3rem 0 1.3rem;
        width: 40%;
        
    }
}

/* ----------------------------------------------------------------------- */
/* Lessons */
.lessons{
    margin-bottom: 12.5rem;
    .container{
        width: 70%;
    }
    .lessons_title{
        text-align: center;
        font-size: 2.6rem;
        font-weight: 600;
        margin-bottom: 9.4rem;
    }
}
.price_wrap{
    display: flex;
    justify-content: space-between;
}
.border{
    border: solid rgba(214, 214, 214, 0.3) .7rem;
    border-radius: 3rem;
}
li{
    color: $white;
    line-height: 2rem;
}
.info_wrap{
    padding: 2.2rem 0;
    width: 20rem;
    display: flex;
    flex-direction: column;
    .price_title{
        text-align: center;
        margin-bottom: 2.5rem;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
    ul{
        margin: 2.5rem auto 2.5rem;

    }
}
.price{
    margin-bottom: 2.5rem;
}
.lessons_btn{
    text-align: center;
    padding: 1.2rem 0 1.2rem;
    width: 45%;
    margin: 0 auto;
    font-size: .8rem;
}

/* ----------------------------------------------------------------------- */
/* Booking */
.booking{
    background: rgba(214, 214, 214, 0.05);
    border-radius: .6rem;
}
.booking_wrap{
    padding: 3rem 7.5rem 1.5rem;
}
.booking_title{
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}
form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 42px;
    grid-template-areas:
    "name number"
    "email age"
    "btn btn";
    color: $white;
    .form_name { grid-area: name; };
    .form_number { grid-area: number; };
    .form_email { grid-area: email;}
    .form_age { grid-area: age;}
    .form_btn { grid-area: btn;}
}

input{
    background: rgba(214, 214, 214, 0.3);
    border: none;
    padding: 1.5rem .5rem;
    width: 100%;
    margin-top: 1rem;
    border-radius: .6rem;
}

.form_btn{
    width: 50%;
    margin: 0 auto;
    height: 70%;
    color: $white;
    background: $orange;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    
    &:hover{
        background: $orange-hover;
    }
}


/* ----------------------------------------------------------------------- */
/* Footer */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6rem 0;
    a{
        &:hover{
            color: $orange-hover;
        }
    }
}
.contacts_wrap{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.adress{
    line-height: 24px;
}
